{% extends 'main/base.html' %}
{% block title %} toCloud | Detalhes do projeto{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-3">
                <div class="card-header">
                    <strong>Projeto</strong> {{ project.project_name }} | <strong>Responsável:</strong> {{ project.team}}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="project-section">
                                <h4>Funcionalidades</h4>
                                <p>{{ project.features_and_functionality }}</p>
                            </div>

                            <div class="project-section">
                                <h4>Público Alvo</h4>
                                <p>{{ project.target_audience }}</p>
                            </div>

                            <div class="project-section">
                                <h4>Requisitos Técnicos</h4>
                                <p>{{ project.technical_requirements }}</p>
                            </div>

                            <div class="project-section">
                                <h4>Plataformas Alvo</h4>
                                <p>{{ project.target_platforms }}</p>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="project-section">
                                <h4>Escopo Inicial</h4>
                                <p>{{ project.initial_scope }}</p>
                            </div>

                            <div class="project-section">
                                <h4>Escopo Futuro</h4>
                                <p>{{ project.future_scope }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="project-section">
                                <h4>Data de Início</h4>
                                <p>{{ project.start_date }}</p>
                            </div>

                            <div class="project-section">
                                <h4>Data Final Esperada</h4>
                                <p>{{ project.desired_completion_date }}</p>
                            </div>

                            <div class="project-section">
                                <h4>Orçamento</h4>
                                <p>{{ project.budget }}</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="project-section">
                                <h4>Observações</h4>
                                <p>{{ project.additional_notes }}</p>
                            </div>
                        </div>

                        <div class="row">
                        <div class="col-md">
                            <div class="project-section">
                                <div class="container">
                                <h4 class="mt-4">Sprints</h4>
                                    <div class="row">
                                        {% for task in tasks %}
                                        <div class="col-md-6">
                                            <div class="card mb-3">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ task.task_name }}</h5>
                                                    <p class="card-text">{{ task.task_description }}</p>
                                                    {% if task.task_done == True %}
                                                    <p class="card-text">✔️ Concluída</p>
                                                    {% else %}
                                                    <p class="card-text">❌ Não concluída</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        {% empty %}
                                        <p>Não há tarefas cadastradas</p>
                                        {% endfor %}
                                    </div>
                        </div>
                    </div>
                    <div class="text-right mt-2 d-flex">
                        {% if user.username == project.author %}
                        <form method="post" class="m-2" >
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" value="{{ project.project_name }}">Deletar
                                projeto</button>
                        </form>

                        <div class="m-2">
                            <a class="btn btn-primary" href="/change-project/{{project.project_name}}">Alterar projeto</a>
                        </div>
                        {% endif %}
                        {% if project.team in user_teams or project.author == user.username %}
                        <div class="m-2">
                            <a class="btn btn-secondary" href="/manage-tasks/{{project.project_name}}">Tarefas</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{ project.created_at }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}